Repository Col0ring/low-code-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

feat: add rtk
  .lintstagedrc
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/frontend/src/App.tsx
  packages/frontend/src/components/error-bondary.tsx
  packages/frontend/src/components/lazy-load.tsx
  packages/frontend/src/components/monaco-editor/diff-monaco-editor.tsx
  packages/frontend/src/components/monaco-editor/env.ts
  packages/frontend/src/components/monaco-editor/monaco-editor.tsx
  packages/frontend/src/components/monaco-editor/utils.ts
  packages/frontend/src/editor/index.tsx
  packages/frontend/src/hooks/useMount.tsx
  packages/frontend/src/hooks/usePersistFn.ts
  packages/frontend/src/hooks/useUpdateEffect.ts
  packages/frontend/src/index.less
  packages/frontend/src/main.tsx
  packages/frontend/src/pages/a.tsx
  packages/frontend/src/pages/edit/index.tsx
  packages/frontend/src/router/index.tsx
  packages/frontend/src/router/routes.tsx
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/slices/routes.ts
  packages/frontend/stylelint.config.js
  yarn.lock
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

feat: layout wip
  .lintstagedrc
  packages/backend/src/app.controller.ts
  packages/frontend/package.json
  packages/frontend/src/components/monaco-editor/monaco-editor.tsx
  packages/frontend/src/main.tsx
  packages/frontend/src/pages/edit/index.tsx
  packages/frontend/src/provider.tsx
  packages/frontend/src/router/auth-route.tsx
  packages/frontend/src/router/index.tsx
  packages/frontend/src/router/lazy-route.tsx
  packages/frontend/src/router/routes.tsx
  packages/frontend/src/router/utils.ts
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/services/auth.ts
  packages/frontend/src/store/services/base.ts
  packages/frontend/src/store/services/user.ts
  packages/frontend/src/store/slices/counter.ts
  packages/frontend/src/store/slices/routes.ts
  packages/frontend/src/store/slices/user.ts
  packages/frontend/src/utils/index.ts
  packages/frontend/src/utils/local-storage.ts
  packages/frontend/stylelint.base.config.js
  packages/frontend/stylelint.config.js
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:prettier

feat: add jwt and database module
  README.md
  packages/backend/.dev.env
  packages/backend/package.json
  packages/backend/src/app.controller.ts
  packages/backend/src/app.module.ts
  packages/backend/src/auth/auth.config.ts
  packages/backend/src/auth/auth.controller.spec.ts
  packages/backend/src/auth/auth.controller.ts
  packages/backend/src/auth/auth.module.ts
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/constants.ts
  packages/backend/src/auth/local-auth.guard.ts
  packages/backend/src/auth/local.strategy.ts
  packages/backend/src/auth/public.decorator.ts
  packages/backend/src/auth/refresh-token-jwt-auth.guard.ts
  packages/backend/src/auth/refresh-token-jwt.strategy.ts
  packages/backend/src/config/database.config.ts
  packages/backend/src/database/database.config.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/decorators/user.decorator.ts
  yarn.lock
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:prettier

feat: add auth api
  packages/backend/src/app.module.ts
  packages/backend/src/auth/auth.controller.ts
  packages/frontend/package.json
  packages/frontend/src/pages/edit/index.tsx
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/rtk-query-error-logger-middleware.ts
  packages/frontend/src/store/services/auth.ts
  packages/frontend/src/store/services/base.ts
  packages/frontend/src/store/services/constants.ts
  packages/frontend/src/store/services/create-service-api.ts
  packages/frontend/src/store/services/user.ts
  packages/frontend/src/store/slices/auth.ts
  packages/frontend/src/store/slices/counter.ts
  packages/frontend/src/store/slices/user.ts
  packages/frontend/src/store/type.ts
  packages/frontend/src/store/utils.ts
  packages/frontend/src/utils/env.ts
  packages/frontend/src/utils/index.ts
  packages/frontend/src/utils/local-storage.ts
  packages/frontend/vite.config.ts
  yarn.lock
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:prettier

feat: add public decorator
  packages/backend/src/auth/jwt-auth.guard.ts
  packages/backend/tsconfig.json
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:prettier

feat: refresh token process
  packages/backend/.dev.env
  packages/backend/package.json
  packages/backend/src/app.controller.ts
  packages/backend/src/app.module.ts
  packages/backend/src/auth/auth.controller.ts
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/dto/register.dto.ts
  packages/backend/src/auth/jwt.strategy.ts
  packages/backend/src/auth/local.strategy.ts
  packages/backend/src/auth/refresh-token-jwt-auth.guard.ts
  packages/backend/src/auth/refresh-token-jwt.strategy.ts
  packages/backend/src/auth/type.ts
  packages/backend/src/database/database.config.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/filters/all-exception.filter.ts
  packages/backend/src/users/user.entity.ts
  packages/backend/src/users/users.module.ts
  packages/backend/src/users/users.service.ts
  packages/frontend/src/store/services/create-service-api.ts
  yarn.lock
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:prettier

fix: auth process
  packages/backend/.dev.env
  packages/backend/src/app.module.ts
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/dto/register.dto.ts
  packages/backend/src/database/database.util.ts
  packages/backend/src/pipes/validation.pipe.ts
  packages/backend/src/users/users.service.ts
  packages/frontend/src/pages/edit/index.tsx
  packages/frontend/src/store/rtk-query-error-logger-middleware.ts
  packages/frontend/src/store/services/auth.ts
  packages/frontend/src/store/services/create-service-api.ts
  packages/frontend/src/store/type.ts
  tsconfig.json
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:prettier

fix: auth condition
  .vscode/settings.json
  .yarnrc
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/filters/all-exception.filter.ts
  packages/frontend/src/store/rtk-query-error-logger-middleware.ts
  packages/frontend/src/store/services/create-service-api.ts
  packages/frontend/src/store/type.ts
  tsconfig.json
  yarn.lock
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:prettier

feat: auth route & auth service
  packages/backend/src/auth/auth.controller.ts
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/constants.ts
  packages/backend/src/auth/decorators/auth.decorator.ts
  packages/backend/src/auth/decorators/index.ts
  packages/backend/src/auth/decorators/roles.decorator.ts
  packages/backend/src/auth/decorators/user.decorator.ts
  packages/backend/src/auth/guards/roles.guard.ts
  packages/backend/src/auth/jwt-auth.guard.ts
  packages/backend/src/auth/jwt.strategy.ts
  packages/backend/src/auth/public.decorator.ts
  packages/backend/src/auth/refresh-token-jwt.strategy.ts
  packages/backend/src/auth/type.ts
  packages/frontend/src/editor/index.less
  packages/frontend/src/editor/index.tsx
  packages/frontend/src/pages/edit/index.tsx
  packages/frontend/src/pages/editor.tsx
  packages/frontend/src/router/auth-route.tsx
  packages/frontend/src/router/lazy-route.tsx
  packages/frontend/src/router/route-loading.tsx
  packages/frontend/src/router/routes.tsx
  packages/frontend/src/store/constants.ts
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/rtk-query-error-logger-middleware.ts
  packages/frontend/src/store/services/auth.ts
  packages/frontend/src/store/services/create-service-api.ts
  packages/frontend/src/store/services/user.ts
  packages/frontend/src/store/slices/auth.ts
  packages/frontend/src/store/type.ts
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

feat: route fallback
  packages/backend/src/auth/auth.controller.ts
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/users/user.entity.ts
  packages/backend/src/users/users.service.ts
  packages/frontend/src/pages/403.tsx
  packages/frontend/src/pages/404.tsx
  packages/frontend/src/pages/edit/index.tsx
  packages/frontend/src/router/auth-route.tsx
  packages/frontend/src/router/routes.tsx
  packages/frontend/src/store/services/constants.ts
  packages/frontend/src/store/services/create-service-api.ts
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:prettier

feat: auth layout
  packages/frontend/src/features/auth/auth-layout.tsx
  packages/frontend/src/features/auth/components/code-form.tsx
  packages/frontend/src/features/auth/components/password-form.tsx
  packages/frontend/src/features/auth/components/register-form.tsx
  packages/frontend/src/features/auth/layouts/auth-layout/index.tsx
  packages/frontend/src/features/auth/layouts/auth-layout/style.less
  packages/frontend/src/features/auth/pages/login.tsx
  packages/frontend/src/features/auth/pages/login/index.tsx
  packages/frontend/src/features/auth/pages/register.tsx
  packages/frontend/src/features/auth/pages/register/index.tsx
  packages/frontend/src/features/auth/pages/register/style.less
  packages/frontend/src/router/routes.tsx
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

feat: add windi css
  packages/frontend/.eslintrc.js
  packages/frontend/package.json
  packages/frontend/src/features/auth/components/code-form.tsx
  packages/frontend/src/features/auth/components/password-form.tsx
  packages/frontend/src/features/auth/components/register-form.tsx
  packages/frontend/src/main.tsx
  packages/frontend/src/router/auth-route.tsx
  packages/frontend/vite.config.ts
  packages/frontend/windi.config.ts
  yarn.lock
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:prettier

feat: use class instead of style
  packages/frontend/src/features/auth/components/password-form.tsx
  packages/frontend/src/router/route-loading.tsx
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:prettier

feat: add design module
  packages/backend/src/users/user.entity.ts
  packages/frontend/src/components/monaco-editor/diff-monaco-editor.tsx
  packages/frontend/src/components/monaco-editor/monaco-editor.tsx
  packages/frontend/src/features/auth/components/user-actions/index.tsx
  packages/frontend/src/features/auth/components/user-actions/style.less
  packages/frontend/src/features/auth/hooks/useAuth.ts
  packages/frontend/src/features/auth/type.ts
  packages/frontend/src/features/design/components/visual-editor/index.tsx
  packages/frontend/src/features/design/design.service.ts
  packages/frontend/src/features/design/layouts/design-layout/index.tsx
  packages/frontend/src/features/design/layouts/design-layout/style.less
  packages/frontend/src/features/design/pages/page-designer/index.tsx
  packages/frontend/src/features/design/pages/page-designer/style.less
  packages/frontend/src/features/editor/pages/edit/index.tsx
  packages/frontend/src/hooks/index.ts
  packages/frontend/src/hooks/useMount.tsx
  packages/frontend/src/hooks/usePersistFn.ts
  packages/frontend/src/hooks/useUpdateEffect.ts
  packages/frontend/src/provider.tsx
  packages/frontend/src/router/auth-route.tsx
  packages/frontend/src/router/constants.ts
  packages/frontend/src/router/routes.tsx
  packages/frontend/src/router/useMatchedRoutes.ts
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

feat: forget password page
  packages/backend/src/auth/auth.controller.ts
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/dto/reset-password.dto.ts
  packages/backend/src/users/users.service.ts
  packages/frontend/src/features/auth/auth.service.ts
  packages/frontend/src/features/auth/components/auth-code-button.tsx
  packages/frontend/src/features/auth/components/password-form.tsx
  packages/frontend/src/features/auth/components/register-form.tsx
  packages/frontend/src/features/auth/components/reset-password-form.tsx
  packages/frontend/src/features/auth/pages/forget-password.tsx
  packages/frontend/src/features/auth/pages/login.tsx
  packages/frontend/src/features/auth/pages/register.tsx
  packages/frontend/src/router/constants.ts
  packages/frontend/src/router/routes.tsx
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:prettier

feat: path constants
  packages/frontend/src/router/constants.ts
  packages/frontend/src/router/routes.tsx
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:prettier

feat: add design page
  packages/frontend/src/features/auth/components/user-actions/index.tsx
  packages/frontend/src/features/design/layouts/design-layout/index.tsx
  packages/frontend/src/features/design/layouts/design-layout/style.less
  packages/frontend/src/features/design/pages/base-setting/index.tsx
  packages/frontend/src/features/design/pages/design-index/index.tsx
  packages/frontend/src/features/design/pages/design-index/style.less
  packages/frontend/src/router/auth-route.tsx
  packages/frontend/src/router/constants.ts
  packages/frontend/src/router/pages/403.tsx
  packages/frontend/src/router/pages/404.tsx
  packages/frontend/src/router/routes.tsx
  packages/frontend/src/store/index.ts
  packages/frontend/src/store/rtk-query-error-logger-middleware.ts
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

feat: design index page layout
  .lintstagedrc
  .vscode/settings.json
  packages/backend/package.json
  packages/backend/src/auth/auth.controller.ts
  packages/backend/src/auth/auth.service.ts
  packages/frontend/.eslintrc.js
  packages/frontend/package.json
  packages/frontend/src/features/auth/components/user-actions/index.tsx
  packages/frontend/src/features/auth/components/user-actions/style.less
  packages/frontend/src/features/design/components/visual-editor/editor-menu-area/index.tsx
  packages/frontend/src/features/design/components/visual-editor/editor-menu-area/menu-content.tsx
  packages/frontend/src/features/design/components/visual-editor/editor-menu-area/menu-pane-item.tsx
  packages/frontend/src/features/design/components/visual-editor/editor-operator-area/index.tsx
  packages/frontend/src/features/design/components/visual-editor/index.tsx
  packages/frontend/src/features/design/components/visual-editor/style.less
  packages/frontend/src/features/design/layouts/design-layout/index.tsx
  packages/frontend/src/features/design/layouts/design-layout/style.less
  packages/frontend/src/features/design/pages/design-index/index.tsx
  packages/frontend/src/features/design/pages/design-index/style.less
  packages/frontend/src/router/constants.ts
  packages/frontend/src/router/routes.tsx
  packages/frontend/src/styles/index.less
  packages/frontend/src/styles/variables.less
  packages/frontend/src/utils/index.ts
  packages/frontend/stylelint.base.config.js
  packages/frontend/stylelint.config.js
  yarn.lock
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

feat: editor operator area
  .vscode/settings.json
  packages/frontend/src/features/design/components/visual-editor/editor-menu-area/index.tsx
  packages/frontend/src/features/design/components/visual-editor/editor-operator-area/index.tsx
  packages/frontend/src/features/design/components/visual-editor/editor-simulator-area/index.tsx
  packages/frontend/src/features/design/components/visual-editor/index.tsx
  packages/frontend/src/features/design/components/visual-editor/style.less
  packages/frontend/src/styles/index.less
  packages/frontend/stylelint.config.js
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

feat(wip): editor simulator area
  packages/frontend/src/components/svg-icon.tsx
  packages/frontend/src/features/design/components/visual-editor/assets/redo.svg
  packages/frontend/src/features/design/components/visual-editor/assets/undo.svg
  packages/frontend/src/features/design/components/visual-editor/editor-simulator-area/index.tsx
  packages/frontend/src/features/design/components/visual-editor/editor-simulator-area/simulator-toolbar.tsx
  packages/frontend/src/features/design/components/visual-editor/style.less
  packages/frontend/src/utils/env.ts
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

feat: simulator area
  .vscode/settings.json
  packages/frontend/package.json
  packages/frontend/src/features/design/components/visual-editor/editor-simulator-area/empty-content.tsx
  packages/frontend/src/features/design/components/visual-editor/editor-simulator-area/index.tsx
  packages/frontend/src/features/design/components/visual-editor/editor-simulator-area/simulator-content.tsx
  packages/frontend/src/features/design/components/visual-editor/editor-simulator-area/simulator-toolbar.tsx
  packages/frontend/src/features/design/components/visual-editor/style.less
  packages/frontend/src/hooks/index.ts
  packages/frontend/src/hooks/useEventListener.ts
  packages/frontend/src/hooks/useResize.ts
  packages/frontend/src/utils/dom.ts
  packages/frontend/src/utils/index.ts
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

fix: antd
  package.json
  packages/backend/package.json
  packages/backend/src/users/users.service.ts
  packages/frontend/package.json
  packages/frontend/src/features/design/components/visual-editor/editor-operator-area/index.tsx
  packages/frontend/src/features/design/components/visual-editor/editor-simulator-area/simulator-content.tsx
  packages/frontend/src/features/design/components/visual-editor/style.less
  packages/frontend/src/features/design/layouts/design-layout/style.less
  packages/frontend/src/styles/index.less
  packages/frontend/src/styles/variables.less
  yarn.lock
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

fix: postcss
  package.json
  yarn.lock
Due: yarn workspaces run lint:prettier

feat: add draggable component
  packages/frontend/src/features/auth/auth.slice.ts
  packages/frontend/src/features/design/components/visual-editor/dragging/drag-area.tsx
  packages/frontend/src/features/design/components/visual-editor/dragging/draggable.tsx
  packages/frontend/src/features/design/components/visual-editor/dragging/index.ts
  packages/frontend/src/features/design/components/visual-editor/editor-menu-area/index.tsx
  packages/frontend/src/features/design/components/visual-editor/editor-simulator-area/blank-content.tsx
  packages/frontend/src/features/design/components/visual-editor/editor-simulator-area/empty-content.tsx
  packages/frontend/src/features/design/components/visual-editor/editor-simulator-area/index.tsx
  packages/frontend/src/features/design/components/visual-editor/editor-simulator-area/simulator-content.tsx
  packages/frontend/src/features/design/components/visual-editor/node-components/layout/container.tsx
  packages/frontend/src/features/design/components/visual-editor/node-components/layout/layout-container.tsx
  packages/frontend/src/features/design/components/visual-editor/style.less
  packages/frontend/src/features/design/hooks/useDrag.ts
  packages/frontend/src/features/design/hooks/useDrog.ts
  packages/frontend/src/features/design/type.ts
  packages/frontend/src/hooks/useMountedState.ts
  packages/frontend/src/hooks/useUpdateEffect.ts
  packages/frontend/src/utils/index.ts
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

feat: drag constansts
  packages/frontend/src/features/design/components/visual-editor/editor-menu-area/index.tsx
  packages/frontend/src/features/design/components/visual-editor/editor-simulator-area/blank-content.tsx
  packages/frontend/src/features/design/constants.ts
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:prettier

feat(wip): visual-editor
  packages/frontend/index.html
  packages/frontend/src/features/design/components/visual-editor/editor-menu-area/index.tsx
  packages/frontend/src/features/design/components/visual-editor/editor-simulator-area/simulator-content.tsx
  packages/frontend/src/features/design/components/visual-editor/node-components/layout/container.tsx
  packages/frontend/src/features/design/pages/design-index/index.tsx
  packages/frontend/src/features/visual-editor/assets/redo.svg
  packages/frontend/src/features/visual-editor/assets/undo.svg
  packages/frontend/src/features/visual-editor/components/blank-content.tsx
  packages/frontend/src/features/visual-editor/components/dragging/drag-area.tsx
  packages/frontend/src/features/visual-editor/components/dragging/draggable.tsx
  packages/frontend/src/features/visual-editor/components/dragging/index.ts
  packages/frontend/src/features/visual-editor/components/editor-menu-area/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/menu-content.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/menu-pane-item.tsx
  packages/frontend/src/features/visual-editor/components/editor-operator-area/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-simulator-area/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-simulator-area/simulator-content.tsx
  packages/frontend/src/features/visual-editor/components/editor-simulator-area/simulator-toolbar.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/text.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout-container.tsx
  packages/frontend/src/features/visual-editor/constansts.ts
  packages/frontend/src/features/visual-editor/hooks/useDrag.ts
  packages/frontend/src/features/visual-editor/hooks/useDrog.ts
  packages/frontend/src/features/visual-editor/index.tsx
  packages/frontend/src/features/visual-editor/style.less
  packages/frontend/src/features/visual-editor/type.ts
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

feat: drag logic
  packages/frontend/package.json
  packages/frontend/src/features/visual-editor/components/blank-content.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-simulator-area/simulator-content.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/text.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout-container.tsx
  packages/frontend/src/features/visual-editor/index.tsx
  packages/frontend/src/features/visual-editor/provider.ts
  packages/frontend/src/features/visual-editor/style.less
  packages/frontend/src/features/visual-editor/type.ts
  yarn.lock
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

feat: drag action
  package.json
  packages/frontend/package.json
  packages/frontend/src/features/design/hooks/useDrag.ts
  packages/frontend/src/features/design/hooks/useDrog.ts
  packages/frontend/src/features/visual-editor/components/blank-content.tsx
  packages/frontend/src/features/visual-editor/components/editor-simulator-area/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-simulator-area/simulator-content.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/container.tsx
  packages/frontend/src/features/visual-editor/provider.ts
  packages/frontend/src/features/visual-editor/type.ts
  packages/frontend/src/pages/403.tsx
  packages/frontend/src/pages/404.tsx
  yarn.lock
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:prettier

feat: drag logic
  packages/frontend/package.json
  packages/frontend/src/components/svg-icon.tsx
  packages/frontend/src/features/visual-editor/components/blank-content.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/components-library-pane.tsx
  packages/frontend/src/features/visual-editor/components/editor-simulator-area/simulator-content.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/text.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout-container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout.tsx
  packages/frontend/src/features/visual-editor/components/node-container.tsx
  packages/frontend/src/features/visual-editor/constansts.ts
  packages/frontend/src/features/visual-editor/constants.ts
  packages/frontend/src/features/visual-editor/hooks/useDrog.ts
  packages/frontend/src/features/visual-editor/hooks/useHover.ts
  packages/frontend/src/features/visual-editor/provider.ts
  packages/frontend/src/features/visual-editor/style.less
  packages/frontend/src/features/visual-editor/type.ts
  packages/frontend/src/hooks/index.ts
  packages/frontend/src/hooks/useClassName.ts
  packages/frontend/src/pages/403.tsx
  packages/frontend/src/pages/404.tsx
  packages/frontend/src/utils/index.ts
  yarn.lock
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

feat: node container
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/components-library-pane.tsx
  packages/frontend/src/features/visual-editor/components/node-container.tsx
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:prettier

fix: node container
  packages/frontend/package.json
  packages/frontend/src/features/visual-editor/components/blank-content.tsx
  packages/frontend/src/features/visual-editor/components/editor-simulator-area/simulator-content.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/page.tsx
  packages/frontend/src/features/visual-editor/components/node-container.tsx
  packages/frontend/src/features/visual-editor/hooks/useHover.ts
  packages/frontend/src/features/visual-editor/provider.ts
  packages/frontend/src/features/visual-editor/style.less
  yarn.lock
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

feat: layout logic
  packages/frontend/package.json
  packages/frontend/src/features/visual-editor/components/blank-content.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/components-library-pane.tsx
  packages/frontend/src/features/visual-editor/components/editor-simulator-area/simulator-content.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout-container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/page.tsx
  packages/frontend/src/features/visual-editor/components/node-container.tsx
  packages/frontend/src/features/visual-editor/type.ts
  yarn.lock
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:prettier

feat: draggable style
  packages/frontend/.eslintrc.js
  packages/frontend/package.json
  packages/frontend/src/features/visual-editor/components/blank-content.tsx
  packages/frontend/src/features/visual-editor/components/dragging/draggable.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/components-library-pane.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/outline-tree-pane.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout-container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/page.tsx
  packages/frontend/src/features/visual-editor/components/node-container.tsx
  packages/frontend/src/features/visual-editor/provider.ts
  packages/frontend/src/features/visual-editor/style.less
  packages/frontend/src/features/visual-editor/type.ts
  yarn.lock
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

fix: draggable z-index
  packages/frontend/src/features/visual-editor/components/blank-content.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/components-library-pane.tsx
  packages/frontend/src/features/visual-editor/components/node-container.tsx
  packages/frontend/src/features/visual-editor/index.tsx
  packages/frontend/src/features/visual-editor/provider.ts
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:prettier

feat: outline tree pane
  packages/frontend/src/features/visual-editor/components/editor-menu-area/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/menu-content.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/outline-tree-pane.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/text.tsx
  packages/frontend/src/features/visual-editor/components/node-container.tsx
  packages/frontend/src/features/visual-editor/provider.ts
  packages/frontend/src/features/visual-editor/style.less
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

feat: outline tree sort logic
  packages/frontend/.eslintrc.js
  packages/frontend/src/features/visual-editor/components/blank-content.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/components-library-pane.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/outline-tree-pane.tsx
  packages/frontend/src/features/visual-editor/components/editor-operator-area/index.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout-container.tsx
  packages/frontend/src/features/visual-editor/components/node-container.tsx
  packages/frontend/src/features/visual-editor/index.tsx
  packages/frontend/src/features/visual-editor/provider.ts
  packages/frontend/src/features/visual-editor/style.less
  packages/frontend/src/features/visual-editor/type.ts
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

refactor: drag state
  .vscode/settings.json
  TODO.md
  packages/frontend/package.json
  packages/frontend/src/features/visual-editor/components/blank-content.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/outline-tree-pane.tsx
  packages/frontend/src/features/visual-editor/components/editor-operator-area/index.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/text.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout-container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/page.tsx
  packages/frontend/src/features/visual-editor/components/node-container.tsx
  packages/frontend/src/features/visual-editor/provider.ts
  packages/frontend/src/features/visual-editor/type.ts
  packages/frontend/src/features/visual-editor/utils.ts
  yarn.lock
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:prettier

fix: drag state
  packages/frontend/package.json
  packages/frontend/src/features/design/pages/design-index/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/operation-history-pane.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/outline-tree-pane.tsx
  packages/frontend/src/features/visual-editor/components/editor-operator-area/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-simulator-area/simulator-content.tsx
  packages/frontend/src/features/visual-editor/components/editor-simulator-area/simulator-toolbar.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/screen.tsx
  packages/frontend/src/features/visual-editor/components/node-container.tsx
  packages/frontend/src/features/visual-editor/index.tsx
  packages/frontend/src/features/visual-editor/provider.ts
  packages/frontend/src/features/visual-editor/style.less
  packages/frontend/src/features/visual-editor/type.ts
  yarn.lock
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

feat: main page
  packages/frontend/src/components/default-app-icon.tsx
  packages/frontend/src/features/app/app.service.ts
  packages/frontend/src/features/app/assets/logo.svg
  packages/frontend/src/features/app/layouts/app-layout/index.tsx
  packages/frontend/src/features/app/layouts/app-layout/style.less
  packages/frontend/src/features/app/layouts/main-layout/index.tsx
  packages/frontend/src/features/app/layouts/main-layout/style.less
  packages/frontend/src/features/app/pages/app-center/index.tsx
  packages/frontend/src/features/app/pages/app-page/index.tsx
  packages/frontend/src/features/app/pages/dashboard/index.tsx
  packages/frontend/src/features/app/pages/templates-center/index.tsx
  packages/frontend/src/router/constants.ts
  packages/frontend/src/router/route-loading.tsx
  packages/frontend/src/router/routes.tsx
  packages/frontend/src/styles/index.less
Due: yarn workspaces run lint:eslint, yarn workspaces run lint:stylelint, yarn workspaces run lint:prettier

Path conditions:
  yarn workspaces run lint:eslint: any of: *.{js,jsx,ts,tsx}
  yarn workspaces run lint:stylelint: any of: *.{css,scss,less}
  yarn workspaces run lint:prettier: any of: *.{js,jsx,ts,tsx,css,scss,less,html,md,json}
