Repository Col0ring/low-code-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:stylelint-lint-staged, yarn workspace @low-code/frontend run lint:prettier, yarn workspace @low-code/backend run lint:eslint, yarn workspace @low-code/backend run lint:prettier

.lintstagedrc:

{
  "packages/frontend/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace @low-code/frontend run lint:eslint"
  ],
  "packages/frontend/**/*.{css,less,scss}": [
    "yarn workspace @low-code/frontend run lint:stylelint-lint-staged"
  ],
  "packages/frontend/**/*.{js,jsx,ts,tsx,css,scss,less,html,md,json}": [
    "yarn workspace @low-code/frontend run lint:prettier"
  ],
  "packages/backend/**/*.{js,jsx,ts,tsx}": [
    "yarn workspace @low-code/backend run lint:eslint"
  ],
  "packages/backend/**/*.{js,jsx,ts,tsx,css,scss,less,html,md,json}": [
    "yarn workspace @low-code/backend run lint:prettier"
  ]
}

feat: default app icon
  packages/frontend/src/components/default-app-icon.tsx
  packages/frontend/src/features/app/layouts/app-layout/index.tsx
  packages/frontend/src/features/design/design.service.ts
  packages/frontend/src/features/main/assets/logo.svg
  packages/frontend/src/features/main/components/default-app-icon.tsx
  packages/frontend/src/features/main/layouts/main-layout/index.tsx
  packages/frontend/src/features/main/layouts/main-layout/style.less
  packages/frontend/src/features/main/main.service.ts
  packages/frontend/src/features/main/pages/app-center/index.tsx
  packages/frontend/src/features/main/pages/dashboard/index.tsx
  packages/frontend/src/features/main/pages/templates-center/index.tsx
  packages/frontend/src/router/routes.tsx
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:stylelint-lint-staged, yarn workspace @low-code/frontend run lint:prettier

feat: import and export data logic
  packages/backend/src/apps/apps.module.ts
  packages/backend/src/apps/apps.service.ts
  packages/frontend/package.json
  packages/frontend/src/components/menu-layout/index.tsx
  packages/frontend/src/components/modal-button.tsx
  packages/frontend/src/components/monaco-editor/monaco-editor.tsx
  packages/frontend/src/features/app/components/navigation-dropdown.tsx
  packages/frontend/src/features/app/layouts/app-layout/index.tsx
  packages/frontend/src/features/app/layouts/app-page-layout/index.tsx
  packages/frontend/src/features/app/pages/app-page/index.tsx
  packages/frontend/src/features/design/layouts/design-layout/index.tsx
  packages/frontend/src/features/main/layouts/main-layout/index.tsx
  packages/frontend/src/features/main/pages/app-center/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/outline-tree-pane.tsx
  packages/frontend/src/features/visual-editor/components/editor-simulator-area/simulator-toolbar.tsx
  packages/frontend/src/features/visual-editor/components/preview/index.tsx
  packages/frontend/src/features/visual-editor/index.tsx
  packages/frontend/src/features/visual-editor/provider.ts
  packages/frontend/src/router/index.tsx
  packages/frontend/src/router/routes.tsx
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier, yarn workspace @low-code/backend run lint:eslint, yarn workspace @low-code/backend run lint:prettier

feat: node container actions
  packages/backend/package.json
  packages/backend/src/apps/apps.service.ts
  packages/backend/src/apps/templates/App.tsx
  packages/backend/src/apps/templates/index.html
  packages/backend/src/apps/templates/index.tsx
  packages/backend/src/apps/webpack.config.ts
  packages/backend/tsconfig.json
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/operation-history-pane.tsx
  packages/frontend/src/features/visual-editor/components/editor-simulator-area/simulator-toolbar.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout-container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/screen.tsx
  packages/frontend/src/features/visual-editor/components/node-container.tsx
  packages/frontend/src/features/visual-editor/provider.ts
  yarn.lock
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier, yarn workspace @low-code/backend run lint:eslint, yarn workspace @low-code/backend run lint:prettier

feat: app config page
  packages/frontend/package.json
  packages/frontend/src/components/menu-layout/index.tsx
  packages/frontend/src/components/modal-button.tsx
  packages/frontend/src/features/app/components/navigation-dropdown.tsx
  packages/frontend/src/features/app/layouts/app-layout/index.tsx
  packages/frontend/src/features/app/layouts/app-page-layout/index.tsx
  packages/frontend/src/features/app/layouts/app-setting-layout/index.tsx
  packages/frontend/src/features/app/pages/basic-setting/index.tsx
  packages/frontend/src/features/app/pages/page-detail/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-preview/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-simulator-area/simulator-toolbar.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout-container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/screen.tsx
  packages/frontend/src/features/visual-editor/components/node-container.tsx
  packages/frontend/src/features/visual-editor/components/preview/index.tsx
  packages/frontend/src/features/visual-editor/type.ts
  packages/frontend/src/router/constants.ts
  packages/frontend/src/router/routes.tsx
  yarn.lock
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier

feat: add action
  packages/frontend/src/features/visual-editor/components/action-modal/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-operator-area/index.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/button.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/modal.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/screen.tsx
  packages/frontend/src/features/visual-editor/provider.ts
  packages/frontend/src/features/visual-editor/type.ts
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier

feat: event actions
  packages/backend/.dev.env
  packages/backend/src/pages/pages.service.ts
  packages/frontend/src/features/app/layouts/app-layout/style.less
  packages/frontend/src/features/auth/components/user-actions/index.tsx
  packages/frontend/src/features/auth/components/user-actions/style.less
  packages/frontend/src/features/design/layouts/design-layout/style.less
  packages/frontend/src/features/main/layouts/main-layout/index.tsx
  packages/frontend/src/features/upload/components/image-uploader.tsx
  packages/frontend/src/features/upload/upload.service.ts
  packages/frontend/src/features/visual-editor/components/action-modal/index.tsx
  packages/frontend/src/features/visual-editor/components/add-action/inidex.tsx
  packages/frontend/src/features/visual-editor/components/editor-operator-area/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-operator-area/style-tab.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/button.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/text.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/components/node-container.tsx
  packages/frontend/src/features/visual-editor/index.tsx
  packages/frontend/src/features/visual-editor/provider.ts
  packages/frontend/src/features/visual-editor/type.ts
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:stylelint-lint-staged, yarn workspace @low-code/frontend run lint:prettier, yarn workspace @low-code/backend run lint:eslint, yarn workspace @low-code/backend run lint:prettier

feat: node styles
  packages/frontend/src/features/visual-editor/components/editor-operator-area/style-tab.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/button.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/container.tsx
  packages/frontend/src/features/visual-editor/components/node-container.tsx
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier

feat: page render
  packages/backend/src/apps/app.entity.ts
  packages/backend/src/pages/page.entity.ts
  packages/frontend/src/components/modal-button.tsx
  packages/frontend/src/features/app/layouts/app-page-layout/index.tsx
  packages/frontend/src/features/auth/components/user-actions/index.tsx
  packages/frontend/src/features/main/pages/app-center/index.tsx
  packages/frontend/src/features/visual-editor/components/dragging/draggable.tsx
  packages/frontend/src/features/visual-editor/components/editor-operator-area/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-operator-area/style-tab.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/text.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout-container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/page.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/screen.tsx
  packages/frontend/src/features/visual-editor/components/node-container.tsx
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier, yarn workspace @low-code/backend run lint:eslint, yarn workspace @low-code/backend run lint:prettier

feat: templates page
  packages/backend/src/app.module.ts
  packages/backend/src/apps/app.entity.ts
  packages/backend/src/apps/apps.controller.ts
  packages/backend/src/apps/apps.module.ts
  packages/backend/src/apps/apps.service.ts
  packages/backend/src/apps/constants.ts
  packages/backend/src/apps/dto/templateCreate.dto.ts
  packages/backend/src/pages/pages.service.ts
  packages/backend/src/templates/dto/create.dto.ts
  packages/backend/src/templates/template.entity.ts
  packages/backend/src/templates/templates.controller.ts
  packages/backend/src/templates/templates.module.ts
  packages/backend/src/templates/templates.service.ts
  packages/frontend/src/features/app/app.service.ts
  packages/frontend/src/features/app/pages/app-publish/index.tsx
  packages/frontend/src/features/auth/auth.slice.ts
  packages/frontend/src/features/main/main.service.ts
  packages/frontend/src/features/main/pages/app-center/index.tsx
  packages/frontend/src/features/main/pages/templates-center/index.tsx
  packages/frontend/src/features/main/pages/templates-center/my-template-list.tsx
  packages/frontend/src/features/main/pages/templates-center/template-item.tsx
  packages/frontend/src/features/main/pages/templates-center/template-list.tsx
  packages/frontend/src/features/main/type.ts
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier, yarn workspace @low-code/backend run lint:eslint, yarn workspace @low-code/backend run lint:prettier

feat: iframe view
  packages/backend/src/apps/apps.controller.ts
  packages/backend/src/apps/apps.service.ts
  packages/backend/src/pages/dto/create.dto.ts
  packages/backend/src/pages/pages.service.ts
  packages/frontend/src/features/app/app.service.ts
  packages/frontend/src/features/app/layouts/app-page-layout/index.tsx
  packages/frontend/src/features/app/pages/app-show-view/index.tsx
  packages/frontend/src/features/app/pages/app-view/index.tsx
  packages/frontend/src/features/main/layouts/main-layout/index.tsx
  packages/frontend/src/features/main/pages/app-center/index.tsx
  packages/frontend/src/features/main/pages/templates-center/template-item.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-operator-area/style-tab.tsx
  packages/frontend/src/features/visual-editor/components/editor-simulator-area/simulator-toolbar.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/button.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/image.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/link.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/text.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout-container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/page.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/screen.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/tabs.tsx
  packages/frontend/src/features/visual-editor/components/node-container.tsx
  packages/frontend/src/features/visual-editor/provider.ts
  packages/frontend/src/router/index.tsx
  packages/frontend/src/router/routes.tsx
  packages/frontend/src/vite-env.d.ts
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier, yarn workspace @low-code/backend run lint:eslint, yarn workspace @low-code/backend run lint:prettier

feat: alert component
  packages/frontend/src/features/visual-editor/components/node-components/feedback/alert.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier

feat: js actions
  packages/backend/src/pages/dto/create.dto.ts
  packages/frontend/package.json
  packages/frontend/src/components/monaco-editor/monaco-editor.tsx
  packages/frontend/src/features/visual-editor/components/action-modal/index.tsx
  packages/frontend/src/features/visual-editor/components/add-action/inidex.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/menu-content.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/action-pane.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/data-source-pane/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/data-source-pane/panel-item-header.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/data-source-pane/variable-form-button.tsx
  packages/frontend/src/features/visual-editor/components/editor-preview/edit-editor-preview..tsx
  packages/frontend/src/features/visual-editor/components/editor-preview/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-preview/provider.tsx
  packages/frontend/src/features/visual-editor/components/editor-simulator-area/simulator-content.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/index.tsx
  packages/frontend/src/features/visual-editor/provider.ts
  packages/frontend/src/features/visual-editor/style.less
  packages/frontend/src/features/visual-editor/type.ts
  yarn.lock
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:stylelint-lint-staged, yarn workspace @low-code/frontend run lint:prettier, yarn workspace @low-code/backend run lint:eslint, yarn workspace @low-code/backend run lint:prettier

feat: variable binding
  packages/backend/package.json
  packages/backend/src/apps/webpack.config.ts
  packages/frontend/package.json
  packages/frontend/src/features/upload/upload.service.ts
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/action-pane.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/data-source-pane/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/data-source-pane/panel-item-header.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/data-source-pane/remote-form-button.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/data-source-pane/variable-form-button.tsx
  packages/frontend/src/features/visual-editor/components/editor-preview/edit-editor-preview.tsx
  packages/frontend/src/features/visual-editor/components/editor-preview/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-preview/provider.tsx
  packages/frontend/src/features/visual-editor/components/editor-simulator-area/simulator-content.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/button.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/page.tsx
  packages/frontend/src/features/visual-editor/components/node-container.tsx
  packages/frontend/src/features/visual-editor/components/variable-binding/index.tsx
  packages/frontend/src/features/visual-editor/provider.ts
  packages/frontend/src/features/visual-editor/style.less
  packages/frontend/src/features/visual-editor/type.ts
  packages/frontend/src/features/visual-editor/utils.ts
  packages/frontend/src/hooks/useSetState.ts
  packages/frontend/src/main.tsx
  packages/frontend/src/styles/index.less
  yarn.lock
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:stylelint-lint-staged, yarn workspace @low-code/frontend run lint:prettier, yarn workspace @low-code/backend run lint:eslint, yarn workspace @low-code/backend run lint:prettier

fix: binding action
  packages/frontend/src/components/error-bondary.tsx
  packages/frontend/src/features/app/pages/app-show-view/index.tsx
  packages/frontend/src/features/app/pages/app-view/index.tsx
  packages/frontend/src/features/visual-editor/components/action-modal/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/data-source-pane/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/data-source-pane/variable-form-button.tsx
  packages/frontend/src/features/visual-editor/components/editor-preview/provider.tsx
  packages/frontend/src/features/visual-editor/components/editor-simulator-area/simulator-content.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/button.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/page.tsx
  packages/frontend/src/features/visual-editor/components/variable-binding/index.tsx
  packages/frontend/src/features/visual-editor/utils.ts
  packages/frontend/src/utils/index.ts
  packages/frontend/src/vite-env.d.ts
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier

feat: add user center
  packages/backend/.gitignore
  packages/backend/package.json
  packages/backend/src/app.module.ts
  packages/backend/src/apps/app.entity.ts
  packages/backend/src/apps/dto/create.dto.ts
  packages/backend/src/apps/dto/templateCreate.dto.ts
  packages/backend/src/auth/auth.controller.ts
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/dto/register.dto.ts
  packages/backend/src/auth/dto/user-update.dto.ts
  packages/backend/src/common/common.controller.ts
  packages/backend/src/common/common.module.ts
  packages/backend/src/common/utils.ts
  packages/backend/src/main.ts
  packages/backend/src/templates/dto/create.dto.ts
  packages/backend/src/templates/template.entity.ts
  packages/backend/src/users/user.entity.ts
  packages/frontend/src/features/app/layouts/app-layout/index.tsx
  packages/frontend/src/features/app/pages/app-publish/index.tsx
  packages/frontend/src/features/app/pages/basic-setting/index.tsx
  packages/frontend/src/features/auth/auth.service.ts
  packages/frontend/src/features/auth/auth.slice.ts
  packages/frontend/src/features/auth/components/register-form.tsx
  packages/frontend/src/features/design/layouts/design-layout/index.tsx
  packages/frontend/src/features/main/components/default-app-icon.tsx
  packages/frontend/src/features/main/layouts/main-layout/index.tsx
  packages/frontend/src/features/main/pages/app-center/index.tsx
  packages/frontend/src/features/main/pages/templates-center/template-item.tsx
  packages/frontend/src/features/main/pages/user-center/index.tsx
  packages/frontend/src/features/upload/components/image-uploader.tsx
  packages/frontend/src/features/upload/upload.service.ts
  packages/frontend/src/router/auth-route.tsx
  packages/frontend/src/router/constants.ts
  packages/frontend/src/router/routes.tsx
  packages/frontend/src/store/index.ts
  packages/frontend/src/utils/store.ts
  yarn.lock
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier, yarn workspace @low-code/backend run lint:eslint, yarn workspace @low-code/backend run lint:prettier

fix: page preview
  packages/backend/src/apps/apps.controller.ts
  packages/frontend/src/features/app/pages/page-detail/index.tsx
  packages/frontend/src/features/design/components/page-view.tsx
  packages/frontend/src/features/design/pages/page-show-view/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/action-pane.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/data-source-pane/remote-form-button.tsx
  packages/frontend/src/features/visual-editor/components/editor-preview/provider.tsx
  packages/frontend/src/features/visual-editor/components/editor-simulator-area/simulator-toolbar.tsx
  packages/frontend/src/router/index.tsx
  packages/frontend/src/router/route-loading.tsx
  packages/frontend/src/vite-env.d.ts
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier, yarn workspace @low-code/backend run lint:eslint, yarn workspace @low-code/backend run lint:prettier

feat: remote variable binding
  packages/frontend/package.json
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/action-pane.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/data-source-pane/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/data-source-pane/panel-item-header.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/data-source-pane/remote-form-button.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/data-source-pane/variable-form-button.tsx
  packages/frontend/src/features/visual-editor/components/editor-preview/provider.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/components/variable-binding/index.tsx
  packages/frontend/src/features/visual-editor/style.less
  packages/frontend/src/features/visual-editor/type.ts
  packages/frontend/src/features/visual-editor/utils.ts
  yarn.lock
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:stylelint-lint-staged, yarn workspace @low-code/frontend run lint:prettier

feat: add condition render
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/outline-tree-pane.tsx
  packages/frontend/src/features/visual-editor/components/editor-operator-area/advanced-tab.tsx
  packages/frontend/src/features/visual-editor/components/editor-operator-area/edit-cycle-data.tsx
  packages/frontend/src/features/visual-editor/components/editor-operator-area/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-preview/provider.tsx
  packages/frontend/src/features/visual-editor/components/node-components/feedback/alert.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/components/node-container.tsx
  packages/frontend/src/features/visual-editor/components/variable-binding/index.tsx
  packages/frontend/src/features/visual-editor/provider.ts
  packages/frontend/src/features/visual-editor/type.ts
  packages/frontend/src/features/visual-editor/utils.ts
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier

feat: add email verification
  packages/backend/.dev.env
  packages/backend/email-templates/validate.code.hbs
  packages/backend/package.json
  packages/backend/src/app.module.ts
  packages/backend/src/auth/auth.controller.ts
  packages/backend/src/auth/auth.module.ts
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/dto/get-code.dto.ts
  packages/backend/src/auth/dto/user-update.dto.ts
  packages/backend/src/auth/local.strategy.ts
  packages/backend/src/auth/utils.ts
  packages/backend/src/database/database.config.ts
  packages/backend/src/database/database.module.ts
  packages/backend/src/database/redis.service.ts
  packages/backend/src/email/email.config.ts
  packages/backend/src/email/email.module.ts
  packages/backend/src/email/email.service.ts
  packages/backend/src/users/users.service.ts
  packages/frontend/src/features/auth/auth.service.ts
  packages/frontend/src/features/auth/components/code-form.tsx
  packages/frontend/src/features/auth/components/password-form.tsx
  packages/frontend/src/features/auth/components/register-form.tsx
  packages/frontend/src/features/auth/components/reset-password-form.tsx
  packages/frontend/src/features/auth/pages/forget-password.tsx
  packages/frontend/src/features/auth/pages/login.tsx
  yarn.lock
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier, yarn workspace @low-code/backend run lint:eslint, yarn workspace @low-code/backend run lint:prettier

feat: outline tree action icons
  packages/frontend/src/components/svg-icon.tsx
  packages/frontend/src/features/visual-editor/assets/condition.svg
  packages/frontend/src/features/visual-editor/assets/cycle.svg
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/action-pane.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/outline-tree-pane.tsx
  packages/frontend/src/features/visual-editor/components/editor-preview/provider.tsx
  packages/frontend/src/features/visual-editor/index.tsx
  packages/frontend/src/features/visual-editor/provider.ts
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier

feat: block
  packages/backend/src/app.module.ts
  packages/backend/src/apps/dto/create.dto.ts
  packages/backend/src/blocks/block.entity.ts
  packages/backend/src/blocks/blocks.controller.ts
  packages/backend/src/blocks/blocks.module.ts
  packages/backend/src/blocks/blocks.service.ts
  packages/backend/src/blocks/dto/create.dto.ts
  packages/backend/src/blocks/dto/update.dto.ts
  packages/backend/src/users/user.entity.ts
  packages/frontend/src/features/app/components/navigation-dropdown.tsx
  packages/frontend/src/features/design/design.service.ts
  packages/frontend/src/features/design/pages/design-index/index.tsx
  packages/frontend/src/features/design/type.ts
  packages/frontend/src/features/visual-editor/components/blank-content.tsx
  packages/frontend/src/features/visual-editor/components/block-modal/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/block-pane.tsx
  packages/frontend/src/features/visual-editor/components/node-container.tsx
  packages/frontend/src/features/visual-editor/editor-props-context.ts
  packages/frontend/src/features/visual-editor/index.tsx
  packages/frontend/src/features/visual-editor/style.less
  packages/frontend/src/features/visual-editor/type.ts
  packages/frontend/src/store/index.ts
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:stylelint-lint-staged, yarn workspace @low-code/frontend run lint:prettier, yarn workspace @low-code/backend run lint:eslint, yarn workspace @low-code/backend run lint:prettier

feat: register auto code
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/dto/register.dto.ts
  packages/backend/src/auth/dto/reset-password.dto.ts
  packages/backend/src/auth/local.strategy.ts
  packages/frontend/src/features/auth/auth.service.ts
  packages/frontend/src/features/auth/components/code-form.tsx
  packages/frontend/src/features/auth/components/register-form.tsx
  packages/frontend/src/features/auth/pages/register.tsx
  packages/frontend/src/features/auth/type.ts
  packages/frontend/src/features/visual-editor/components/node-components/layout/tabs.tsx
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier, yarn workspace @low-code/backend run lint:eslint, yarn workspace @low-code/backend run lint:prettier

chore: components libs
  packages/backend/src/apps/apps.controller.ts
  packages/backend/src/apps/webpack.config.ts
  packages/frontend/package.json
  packages/frontend/src/components/svg-icon.tsx
  packages/frontend/src/features/app/app.service.ts
  packages/frontend/src/features/app/pages/app-publish/index.tsx
  packages/frontend/src/features/visual-editor/assets/components/button.svg
  packages/frontend/src/features/visual-editor/assets/components/layout-container.svg
  packages/frontend/src/features/visual-editor/assets/components/page.svg
  packages/frontend/src/features/visual-editor/assets/components/screen.svg
  packages/frontend/src/features/visual-editor/assets/components/tabs.svg
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/outline-tree-pane.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/button.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/image.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/link.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/text.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/video.tsx
  packages/frontend/src/features/visual-editor/components/node-components/feedback/alert.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout-container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/page.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/screen.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/tabs.tsx
  packages/frontend/src/features/visual-editor/components/variable-binding/index.tsx
  packages/frontend/src/features/visual-editor/type.ts
  yarn.lock
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier, yarn workspace @low-code/backend run lint:eslint, yarn workspace @low-code/backend run lint:prettier

feat: add message and navigate methods
  packages/frontend/src/features/visual-editor/assets/components/input.svg
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/action-pane.tsx
  packages/frontend/src/features/visual-editor/components/editor-preview/provider.tsx
  packages/frontend/src/features/visual-editor/components/node-components/form/input.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/utils.ts
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier

feat: bind variables for node components
  packages/frontend/src/features/visual-editor/assets/components/card.svg
  packages/frontend/src/features/visual-editor/components/node-components/basic/image.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/link.tsx
  packages/frontend/src/features/visual-editor/components/node-components/basic/text.tsx
  packages/frontend/src/features/visual-editor/components/node-components/feedback/alert.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/card.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout-container.tsx
  packages/frontend/src/features/visual-editor/style.less
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:stylelint-lint-staged, yarn workspace @low-code/frontend run lint:prettier

feat: template edit
  packages/backend/src/templates/dto/update.dto.ts
  packages/backend/src/templates/templates.controller.ts
  packages/backend/src/templates/templates.service.ts
  packages/frontend/src/features/main/main.service.ts
  packages/frontend/src/features/main/pages/templates-center/template-item.tsx
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier, yarn workspace @low-code/backend run lint:eslint, yarn workspace @low-code/backend run lint:prettier

fix: remote variables
  TODO.md
  packages/backend/src/auth/auth.service.ts
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/data-source-pane/remote-form-button.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/outline-tree-pane.tsx
  packages/frontend/src/features/visual-editor/components/editor-preview/provider.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/components/variable-binding/index.tsx
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier, yarn workspace @low-code/backend run lint:eslint, yarn workspace @low-code/backend run lint:prettier

fix: click event
  packages/frontend/src/features/visual-editor/components/action-modal/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/data-source-pane/panel-item-header.tsx
  packages/frontend/src/features/visual-editor/components/node-components/feedback/loading.tsx
  packages/frontend/src/features/visual-editor/components/node-components/index.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout-container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/page.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/screen.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/tabs.tsx
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier

fix: component prod render
  packages/frontend/src/features/visual-editor/components/node-components/feedback/loading.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/card.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/container.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/layout.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/page.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/screen.tsx
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier

fix: bind value
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/data-source-pane/index.tsx
  packages/frontend/src/features/visual-editor/components/editor-menu-area/panes/data-source-pane/remote-form-button.tsx
  packages/frontend/src/features/visual-editor/components/editor-operator-area/style-tab.tsx
  packages/frontend/src/features/visual-editor/components/editor-preview/provider.tsx
  packages/frontend/src/features/visual-editor/components/node-components/layout/page.tsx
  packages/frontend/src/features/visual-editor/utils.ts
  packages/frontend/src/utils/index.ts
Due: yarn workspace @low-code/frontend run lint:eslint, yarn workspace @low-code/frontend run lint:prettier
